<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido, {{ current_user.username }}!</h1>
        <p>Este es tu panel de control.</p>

        {% if current_user.role == 'admin' %}
        <ul>
            <li><a href="{{ url_for('admin.admin_dashboard') }}">Panel de Admin</a></li>
        </ul>
        {% endif %}
        <ul>
            <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
        </ul>
    </div>
</body>
</html>
